[submodule "src/libs/GFX"]
	path = src/libs/GFX
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "src/libs/Arduino2Make"]
	path = src/libs/Arduino2Make
	url = https://github.com/kevinfrei/Arduino2Make.git
	branch = master
[submodule "src/libs/ArduinoCore"]
	path = src/libs/ArduinoCore
	url = https://github.com/arduino/ArduinoCore-avr.git
[submodule "src/libs/BusIO"]
	path = src/libs/BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "src/libs/ST77XX"]
	path = src/libs/ST77XX
	url = https://github.com/adafruit/Adafruit-ST7735-Library.git
[submodule "src/libs/apple2"]
	path = src/libs/apple2
	url = https://github.com/kevinfrei/linapple.git
[submodule "src/libs/T4_PXP"]
	path = src/libs/T4_PXP
	url = https://github.com/vjmuzik/T4_PXP.git
[submodule "src/libs/GFX_Buffer"]
	path = src/libs/GFX_Buffer
	url = https://github.com/vjmuzik/Adafruit_GFX_Buffer.git
[submodule "src/libs/AsyncDMA"]
	path = src/libs/AsyncDMA
	url = https://github.com/kevinfrei/AsyncDMA_ST77XX
[submodule "src/libs/8875"]
	path = src/libs/8875
	url = https://github.com/adafruit/Adafruit_RA8875.git
