[submodule "src/libs/GFX"]
	path = src/libs/GFX
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "src/libs/NeoPixel"]
	path = src/libs/NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
[submodule "src/libs/SSD1306"]
	path = src/libs/SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306.git
[submodule "src/libs/TinyUSB"]
	path = src/libs/TinyUSB
	url = https://github.com/adafruit/Adafruit_TinyUSB_Arduino.git
[submodule "src/libs/Adafruit"]
	path = src/libs/Adafruit
	url = git@github.com:kevinfrei/Adafruit_nRF52_Arduino.git
[submodule "src/libs/Arduino2Make"]
	path = src/libs/Arduino2Make
	url = git@github.com:kevinfrei/Arduino2Make.git
	branch = master
[submodule "src/libs/ArduinoCore"]
	path = src/libs/ArduinoCore
	url = https://github.com/arduino/ArduinoCore-avr.git
[submodule "src/libs/BusIO"]
	path = src/libs/BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "src/libs/nRFCrypto"]
	path = src/libs/nRFCrypto
	url = https://github.com/adafruit/Adafruit_nRFCrypto.git
