[submodule "src/libs/GFX"]
	path = src/libs/GFX
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "src/libs/Arduino2Make"]
	path = src/libs/Arduino2Make
	url = git@github.com:kevinfrei/Arduino2Make.git
	branch = master
[submodule "src/libs/ArduinoCore"]
	path = src/libs/ArduinoCore
	url = https://github.com/arduino/ArduinoCore-avr.git
[submodule "src/libs/BusIO"]
	path = src/libs/BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "src/libs/ST77XX"]
	path = src/libs/ST77XX
	url = https://github.com/adafruit/Adafruit-ST7735-Library.git
[submodule "src/libs/apple2"]
	path = src/libs/apple2
	url = https://github.com/kevinfrei/linapple.git
